.heading{
    font-size: 1.25rem;
    text-align: center;
    font-weight: 400;
    margin-bottom: 0;
    text-transform: none;
    letter-spacing: .1rem;
    line-height: 1.25;
}

.count{
    font-size: .9rem;
    margin-top: 0.5rem;
    padding: 0;
    text-align: center;
}